* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary-color: #07510C;
}

body {
  background-color: #E5E2C7;

  font-family: 'Roboto', sans-serif;
  margin-top: 5rem;
}

header {
  display: flex;
  gap: 40rem;
}

#logo {
  width: 25rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 5rem;

  font-size: 1.7rem;
}

.menu-sup a {
  text-decoration: none;

  color: black;
}

.container {
  display: grid;
  grid-template-areas: 'A B';
  width: min(112rem, 100%);
  margin-top: 3rem;
  grid-gap: 2rem;
}

.col-1 {
  grid-area: A;
  max-width: 100%;
}

.col-1 p {
  font-size: 5rem;
  color: var(--ff-primary-color);
  font-weight: 700;
}

.col-1 p span {
  font-size: 1.5rem;
  color: black;
  
}

.col-2 {
  grid-area: B;
  max-width: 100%;
 

}

.col-1 img {
  max-width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
}

.col-1 button {
  margin-block: 2rem;
  cursor: pointer;
}

.col-2 img {
  max-width: 100%;
  border-radius: 1rem;

}

.col-2 p {
  font-size: 2rem;
  color: var(--ff-primary-color);
  font-weight: 400;
}