* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary-color: #07510C;
}

body {
  background-color: #E5E2C7;

  font-family: 'Roboto', sans-serif;
  margin-block: 5rem;
}

header {
  display: flex;
  gap: 40rem;
}

#logo {
  width: 25rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;

  max-width: 40rem;
}

.column {
  margin: auto;
}

.column h1 {
  font-size: 5rem;
  color: var(--ff-primary-color);
  font-weight: 700;
}

.column h2 {
  margin-top: 1rem;
}

.column p {
  font-size: 1.5rem;
  color: black;
}

.column img {
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.column button {
  margin-block: 2rem;
  cursor: pointer;
}

button {
  color: white;
  background-color: var(--ff-primary-color);
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
}

button:hover {
  color: var(--ff-primary-color);
  background-color: beige;
}

@media (min-width: 70rem) {
  .container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}